# Reading the Data Set as tsv file
Steps Required:
    importing text
    identifying html pattern
    converting to string
    saving as tsv file
    
    *applying both on train and test data set

In [1]:
import requests
from bs4 import BeautifulSoup

In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
%matplotlib inline

In [3]:
df2=pd.read_csv('test.csv')

In [5]:
df2.head()

,id,title,article
0,HE-efbc27d,How to display the current month in FTL code?,<p>How can I print the current month in a ftl ...
1,HE-d1fd267,OSX 10.8 mountain lion PEAR / PHPUnit not working,<p>I have installed Mountain Lion and I can't ...
2,HE-ffd4152,Update hidden input value with onclick event f...,<p>I'm working with MachForm and have this hid...
3,HE-d3ab268,transform a dijit select to a select list,"<p>salam,\r\r\r\r\nplease is it possible to r..."
4,HE-ed2fa45,Locking table database access for unregistered...,"<p>Good Day Guys,</p>\r\r\r\r\n\r\r\r\r\n<p>I ..."

In [6]:
print(len(df2))

194323

In [17]:
print(len(df2['id']))
print(len(df2['title']))
print(len(df2['article']))

194323
194323
194323

In [19]:
#removing all the html tags and data inside code tags  too

import re

def cleanhtml(row):
  s=row['article']
  cleanr = re.compile('<code>[^>]*</code>')
  clean = re.compile('<.*?>')
  cleantext = re.sub(cleanr, '', s)
  cleantext = re.sub(clean, '', cleantext)
  cleantext = ' '.join(cleantext.split())

  return cleantext

In [20]:
df2['article'] = df2.apply (lambda row: cleanhtml(row),axis=1)

In [21]:
df2['article'][450]

'I am trying to build a COMPSs application developed with the C/C++ binding. When I am building the application, I got the following error. Do you have an idea about how can I solve this issue?'

In [22]:
import re
import string
from nltk.corpus import stopwords

REPLACE_BY_SPACE_RE = re.compile('[/(){}\[\]\|@,;]')
BAD_SYMBOLS_RE = re.compile('[^0-9a-z #+_]')
STOPWORDS = set(stopwords.words('english'))

def text_prepare(row):
    """
        text: a string
        return: modified initial string
    """
    text=row['article']
    # 1. Lowercase text
    text = text.lower() 
    # 2. Replace '/', '()', '{}', '[]', '|', '@', ',', ';' by space
    text = REPLACE_BY_SPACE_RE.sub(' ',text)
    # 3. Delete the non-alphanumerics excluding '#', '+', '_'
    text = BAD_SYMBOLS_RE.sub('',text)
    # 4. Delete stopwords
    text_words = text.split()
    text_words = [t for t in text_words if t not in STOPWORDS]
    text = ' '.join(text_words)
    return text

In [23]:
def text_prepare_title(row):
    """
        text: a string
        return: modified initial string
    """
    text=row['title']
    # 1. Lowercase text
    text = text.lower() 
    # 2. Replace '/', '()', '{}', '[]', '|', '@', ',', ';' by space
    text = REPLACE_BY_SPACE_RE.sub(' ',text)
    # 3. Delete the non-alphanumerics excluding '#', '+', '_'
    text = BAD_SYMBOLS_RE.sub('',text)
    # 4. Delete stopwords
    text_words = text.split()
    text_words = [t for t in text_words if t not in STOPWORDS]
    text = ' '.join(text_words)
    return text

In [24]:
df2['article'] = df2.apply (lambda row: text_prepare(row),axis=1)

In [25]:
df2['title'] = df2.apply (lambda row: text_prepare_title(row),axis=1)

In [26]:
df2.head(10)

,id,title,article
0,HE-efbc27d,display current month ftl code,print current month ftl file
1,HE-d1fd267,osx 108 mountain lion pear phpunit working,installed mountain lion cant get phpunit work
2,HE-ffd4152,update hidden input value onclick event ajax d...,im working machform hidden field ive added ive...
3,HE-d3ab268,transform dijit select select list,salam please possible remove dropdown button d...
4,HE-ed2fa45,locking table database access unregistered ip ...,good day guys creating system web server thing...
5,HE-d49e9e8,rxjava subscriptions unsubscribe method isnt i...,code bellow need release resources unsubscript...
6,HE-eb48a78,moving row data one sheet another googlesheet,im trying move row data one sheet inventory an...
7,HE-ea1d270,silverlight mediaelement issue,using silverlight 30 + net 35 + vsts 2008 + c#...
8,HE-c9b93a9,check jqm popup fits users viewport,ive managed add scrollbars large jqm popups po...
9,HE-f575f7f,android studio activity class called activity ...,im newbie android development problem created ...

In [27]:
print(len(df2['id']))
print(len(df2['title']))
print(len(df2['article']))

194323
194323
194323

In [32]:
df2.columns
df2=df2[['id', 'title', 'article']]

In [38]:
print(len(df2))

194323

In [33]:
df2.to_csv('test_new.csv', sep=',')

In [70]:
df=pd.read_csv('train.csv')

In [71]:
df.head()

,id,title,article,tags
0,HE-ece4370,Check requests to server from the application ...,<p>Is there a way to find what sort of request...,flash|http|websocket|communication|wireshark
1,HE-fad0d3b,Using Asc offset and desc in psql,<p>This code produces this</p>\r\r\r\r\n\r\r\r...,sql|postgresql|offset
2,HE-ea00013,What to do when you have much permissions with...,<p>I'm planning to use a binary system to hand...,php|permissions|binary|bit-manipulation
3,HE-df1304d,React remove component from list,"<p>Pretty new to React, coming from knockout</...",reactjs
4,HE-e946f8c,RPC with promises for node.js,<p>Are there any RPC modules which work with p...,javascript|node.js|websocket|rpc|promise

In [72]:
df['article'] = df.apply (lambda row: cleanhtml(row),axis=1)

In [73]:
df['title'] = df.apply (lambda row: text_prepare_title(row),axis=1)

In [74]:
df=df.dropna()

In [75]:
df.drop_duplicates(subset='tags',keep='last',inplace=True)

In [76]:
print(len(df))

451346

#inserting each tag to a seperate list
def tag(row):
    s=row['tags']
    return s.split('|')

df['tags'] = df.apply (lambda row: tag(row),axis=1)

In [77]:
df=df[['id', 'title', 'article','tags']]

In [78]:
from sklearn.utils import shuffle
df=shuffle(df)

In [79]:
df.to_csv('train_new.csv', sep=',')

In [80]:
print(len(df))

451346