#checking relation with title on X_train

In [4]:
import pandas as pd
import numpy as np

df=pd.read_csv('train_new.csv',sep=",")
df=df[['id','title','article','tags']]

In [5]:
#inserting each tag to a seperate list
def tag(row):
    s=row['tags']
    return s.split('|')
df['tags'] = df.apply (lambda row: tag(row),axis=1)

In [6]:
df.head()

,id,title,article,tags
0,HE-d192012,incorrect behavior javascript drag drop scaled...,I have a Drag&amp;Drop function in my applicat...,"[javascript, drag-and-drop, scale]"
1,HE-e8d20ef,create nsdata 4 bytes big,I want to keep a GKSession alive with a schedu...,"[objective-c, ios, nsdata]"
2,HE-dbc6003,entity framework winforms,"Windows 7 64bit, VS 2012, SQL 2012 localdb, EF...","[winforms, entity-framework, ef-code-first, lo..."
3,HE-cbc73dc,facebook open graph tags scraped,I have thoroughly researched and tried EVERYTH...,"[wordpress, facebook, facebook-graph-api, face..."
4,HE-f57fb4d,changing tweenmax speed effects,I am pretty new to GSAP. The following works g...,"[javascript, greensock, tweenmax, gsap]"

In [20]:
#Presently running 2 laks to 2 lakhs 50 thousand on df4

df_t=pd.read_csv('test_new.csv',sep=",")
df_test1=df_t['title']

df_test_1=df_test1[:50000]
df_test_2=df_test1[50000:100000]
df_test_3=df_test1[100000:150000]
df_test_4=df_test1[150000:194323]

print(len(df_test_1))
print(len(df_test_2))
print(len(df_test_3))
print(len(df_test_4))

50000
50000
50000
44323

In [54]:
global ans
ans=[]
print(ans)
print(len(ans))

[]
0

In [55]:
df=df[['title','tags']]
#df1=df[0:30000]
#df1=df[30000:70000]
#df1=df[100000:150000]
#df1=df[150000:200000]
df1=df[200000:250000]
df1.head()
print(ans)

[]

In [56]:
def train_classifier(X_train, y_train, c = 1.0):
    """
      X_train, y_train — training data
      
      return: trained classifier
    """
    
    # Create and fit LogisticRegression wrapped into OneVsRestClassifier.
    
    mlb_clf = OneVsRestClassifier(LogisticRegression(C = c))
    mlb_clf.fit(X_train, y_train)
    return mlb_clf


def tfidf_features(X_train, X_test):
    
        tfidf_vectorizer = TfidfVectorizer(ngram_range=(1, 2), max_df = 0.9, min_df = 5, token_pattern = '(\S+)')
        X_train = tfidf_vectorizer.fit_transform(X_train.values.astype('U'))
        X_test = tfidf_vectorizer.transform(X_test.values.astype('U'))
    
        return X_train, X_test, tfidf_vectorizer.vocabulary_



y_train=df1['tags']
X_train=df1['title']
X_test=df_test_4

from collections import defaultdict
tags_counts= defaultdict(int)
#words_counts_title= defaultdict(int)
for labels in y_train:
    for tag in labels:
        tags_counts[tag] += 1
#print(most_common_tags)    
    
from sklearn.feature_extraction.text import TfidfVectorizer

X_train_tfidf, X_test_tfidf, tfidf_vocab = tfidf_features(X_train, X_test)
tfidf_reversed_vocab = {i:word for word,i in tfidf_vocab.items()}
    # Check if c++ or c# are in our vocabulary, as they are obviously important tokens in our tags prediction task.
tfidf_vocab['c#'], tfidf_vocab['c++']
print('X_train_tfidf shape', X_train_tfidf.shape)


from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer(classes=sorted(tags_counts.keys()))
"""l=list(most_common_tags.keys())
#mlb = MultiLabelBinarizer(classes=sorted(most_common_tags.keys()))
mlb = MultiLabelBinarizer(classes=l)"""
y_train_bin = mlb.fit_transform(y_train)

    
    
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression, RidgeClassifier

X_train_tfidf shape (50000, 9291)

In [57]:
classifier_tfidf = train_classifier(X_train_tfidf, y_train_bin)

In [58]:
final__predicted_labels_tfidf = classifier_tfidf.predict(X_test_tfidf)
y_val_pred_inversed = mlb.inverse_transform(final__predicted_labels_tfidf)


for i in range(len(df_test_4)):
    x=('{}'.format('|'.join(y_val_pred_inversed[i])))
    ans.append(x)

In [59]:
#torun
z=(df_t['id'][150000:194323])

In [60]:
print(z)

150000    HE-c95a56a
150001    HE-cfa15b1
150002    HE-ff6dc29
150003    HE-ef97a9f
150004    HE-f398cb2
150005    HE-e786d96
150006    HE-ffaabb4
150007    HE-e566b26
150008    HE-ec60ba5
150009    HE-d32ef80
150010    HE-f398cc8
150011    HE-db450b1
150012    HE-f398cdf
150013    HE-f398ce4
150014    HE-f398ce6
150015    HE-f398cec
150016    HE-f398d00
150017    HE-fe14114
150018    HE-c7cafe1
150019    HE-fb39866
150020    HE-ed84eaa
150021    HE-dcdbae7
150022    HE-f398d1f
150023    HE-f398d20
150024    HE-f398d32
150025    HE-f590c6b
150026    HE-f39b380
150027    HE-feecb54
150028    HE-c9db4f6
150029    HE-d35faec
             ...
194293    HE-ef64844
194294    HE-f301d99
194295    HE-d6fcebc
194296    HE-d6c744e
194297    HE-f0ad4bd
194298    HE-f1d8b82
194299    HE-d121fcc
194300    HE-d2b8b0f
194301    HE-c4744b9
194302    HE-f7865b3
194303    HE-d280ac0
194304    HE-e9f3d3f
194305    HE-dba6595
194306    HE-cd8c1c2
194307    HE-d2a0554
194308    HE-e6557e4
194309    HE-ecda71f
194310    HE-f456bdb
194311    HE-f066b74
194312    HE-e999b7c
194313    HE-cf5ab99
194314    HE-d9260a6
194315    HE-f069211
194316    HE-f07076f
194317    HE-ff9e82a
194318    HE-d583860
194319    HE-ccbf81d
194320    HE-e3d7618
194321    HE-e3f97a1
194322    HE-efd489b
Name: id, Length: 44323, dtype: object

In [61]:
ans_df= pd.DataFrame({'tags':ans})

In [62]:
ans_df['id']=df_t['id'][150000:194323]
#ans_df['id']=df_t['id'][150000:194323]
ans_df=ans_df[['id','tags']]
ans_df.head(100)

     id               tags
0   NaN
1   NaN                  r
2   NaN                wcf
3   NaN
4   NaN
5   NaN         javascript
6   NaN
7   NaN
8   NaN           datetime
9   NaN
10  NaN
11  NaN
12  NaN  javascript|jquery
13  NaN            ios|php
14  NaN                 c#
15  NaN             grails
16  NaN               java
17  NaN            reactjs
18  NaN
19  NaN    css|html|jquery
20  NaN
21  NaN               java
22  NaN
23  NaN
24  NaN
25  NaN          hibernate
26  NaN               rest
27  NaN
28  NaN              forms
29  NaN        ajax|jquery
..  ...                ...
70  NaN
71  NaN
72  NaN
73  NaN                git
74  NaN
75  NaN
76  NaN         arrays|php
77  NaN             python
78  NaN             arrays
79  NaN      ruby-on-rails
80  NaN
81  NaN            android
82  NaN
83  NaN               java
84  NaN
85  NaN
86  NaN
87  NaN            android
88  NaN                 c#
89  NaN            android
90  NaN  google-maps-api-3
91  NaN
92  NaN
93  NaN               flex
94  NaN                wcf
95  NaN
96  NaN
97  NaN
98  NaN   arrays|mysql|php
99  NaN             joomla

[100 rows x 2 columns]

In [63]:
print(len(ans))

44323

In [64]:
with open('200000_250000_submit.csv', 'a') as f:
    ans_df.to_csv(f, header=False)

dfx=pd.read_csv('30000_submit.csv',sep=",")
dfx=dfx[:50000]
dfx=dfx[['id','tags']]
dfx.to_csv('30000_submit.csv', sep=',')

In [117]:
#df_t['id'][50000:50002]